
.tabs {
    width:100%;
    display:inline-block;
    margin-bottom: 5px;
}

div.tabs ul {
    padding: 0;
    margin: 0;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 1px;
    float:left;
    list-style:none; !important;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background: linear-gradient(to bottom, #52a9e5 0%,#227fbf 100%);;
    font-size:14px;
    font-weight:600;
    color:white;
    transition:all linear 0.15s;
    text-decoration:none;
    /*border: 2px solid #227fbf;*/
}

.tab-links a:hover {
    color:#fff;
    background:#52a9e5;
}

li.active a, li.active a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow:0px 0px 0px 1px #227fbf inset;
    /*border: 2px solid #227fbf;*/
    color:#4c4c4c;
}

.table {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
    font-size: 18px;
}
.table th {
    border:1px solid #C0C0C0;
    padding:10px;
    color: white;
    font-size: 20px;
    background:#7DA2EC;
}
.table td {
    border:1px solid #C0C0C0;
    padding:10px;
    text-align: center;
}

.table td:nth-child(2) {
    text-align: left;
    width: 500px;
}

/* Sortable tables */
table.sortable thead {
    /*background-color:#eee;*/
    /*color:#666666;*/
    /*font-weight: bold;*/
    /*cursor: default;*/
}

td img {
    vertical-align: middle;
}

#search fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5em;
    margin: 0;
    outline: none;
    padding: 0;
    /*-webkit-appearance: none;*/
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#search select {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 3px;
    font-size: 12px;
    color: #42454e;
    min-width: 184px;
    padding: 6px 8px;
    margin-bottom: 8px;
    border: 1px solid;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.clearfix {
    /*display: flex;*/
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

.container {
}

#search {
    /*background: #d5ebf6;*/
    border-radius: 3px;
    display: inline-block;
    padding: 7px;
}

#search input [type="search"]{
    float: left;
}

#search input[type="search"],
#search input[type="submit"] {
    border-radius: 3px;
    font-size: 12px;
}

#search input[type="search"] {
    background: #fff;
    color: #42454e;
    min-width: 184px;
    padding: 6px 8px;
    margin-bottom: 8px;
    margin-right: 20px;
    border: 1px solid;
}

#search input[type="submit"] {
    background: #227fbf;
    color: #fff;
    font-weight: bold;
    margin-left: 20px;
}

#search input[type="checkbox"] {
    margin-right: 73px;
    display: inline-block;
    vertical-align: middle;
}

#search input[type="submit"]:hover {
    background: #7DA2EC;
}

#search input[type="search"]::-webkit-input-placeholder { color: #42454e; }
#search input[type="search"]:-moz-placeholder { color: #42454e; }
#search input[type="search"]:-ms-input-placeholder { color: #42454e; }

.referee_table {
    text-align: center;
}

.inline_block {
    display: inline-block;
}

.referee_photo{
    width: 150px;
}

.referee_info{
    vertical-align: middle;
}

table.referee_competitions_stats {
    table-layout: fixed;
    text-align: center;
}

.referee_competitions_stats  th {
    width: 15px;
}

.referee_competitions_stats  th:nth-child(1) {
    width: 50px;
}

.referee_competitions_stats  th {
    font-size: 10px;
    padding: 0px;
}

.referee_competitions_stats  td {
    width: 15px;
}

.referee_competitions_stats  td:nth-child(1) {
    width: 50px;
}

.referee_competitions_stats  td {
    font-size: 10px;
    padding: 0px;
}

.referee_inspector_competitions_stats tbody > tr > td {
    text-align: center;
}

.referee_inspector_competitions_stats tfoot > tr > td {
    text-align: right;
}

.referee_inspector_games_stats tbody > tr {
    text-align: center;
}

.referee_inspector_games_stats tbody > tr:nth-child(odd) {
    text-align: left;
}

.center {
    text-align: center
}

div.center span {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
}

div.center span:hover {
    text-decoration: underline;
    cursor: pointer;
}