main{
    display:flex !important;
    flex-direction:row;
}
.round{
    display:flex !important;
    flex-direction:column;
    justify-content:center;
    width:230px;
    list-style:none;
    padding:0;
    margin:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
    flex-grow:1;
}

/*
 *  General Styles
*/
body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
}

li.game{
    padding-left:5px;
    height: 38px;
}

li.game.winner{
    font-weight:bold;
}
li.game span{
    float:right;
    margin-right:5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 10px;
}

li.game span:hover{
    text-decoration: underline;
}

li.game span.team_name{
    float:left;
    cursor: pointer;
}

li.game span.team_name a{
    text-decoration: none;
    color: black;
}

li.game-top{
    border-bottom:2px solid #d5ebf6;
}

li.game-top.winner{
    border-bottom:2px solid #82c4e3;
}

li.game-spacer{
    border-right:2px solid #82c4e3;
    min-height:45px;
}

li.game-bottom{
    border-top:2px solid #d5ebf6;
}

li.game-bottom.winner{
    border-top:2px solid #82c4e3;
}

ul.round h3.stage{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

img.team_icon {
   width: 35px;
   height: 35px;
   float: left;
   margin-right: 5px;
   margin-top: 1px;
   cursor: pointer;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    margin-bottom: 5px;
}

div.tabs ul {
    padding: 0;
    margin: 0;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 1px;
    float:left;
    list-style:none; !important;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background: linear-gradient(to bottom, #52a9e5 0%,#227fbf 100%);;
    font-size:14px;
    font-weight:600;
    color:white;
    transition:all linear 0.15s;
    text-decoration:none;
    /*border: 2px solid #227fbf;*/
}

.tab-links a:hover {
    color:#fff;
    background:#52a9e5;
}

li.active a, li.active a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow:0px 0px 0px 1px #227fbf inset;
    /*border: 2px solid #227fbf;*/
    color:#4c4c4c;
}
/*.table {*/
    /*border:1px solid #C0C0C0;*/
    /*border-collapse:collapse;*/
    /*padding:5px;*/
    /*font-size: 18px;*/
/*}*/
/*.table th {*/
    /*border:1px solid #C0C0C0;*/
    /*padding:10px;*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*background:#7DA2EC;*/
/*}*/
.table-tournament td {
    border:1px solid #C0C0C0;
    padding:10px;
    text-align: center;
}

.table-tournament td:nth-child(2) {
    text-align: left;
    width: 500px;
}

/* Sortable tables */
table.sortable thead {
    /*background-color:#eee;*/
    /*color:#666666;*/
    /*font-weight: bold;*/
    /*cursor: default;*/
}

td span.team_name_table {
    vertical-align: middle;
    cursor: pointer;
}

td span.team_name_table:hover {
    text-decoration: underline;
}

td span.team_name_table a{
    text-decoration: none;
    color: black;
}

td img {
    vertical-align: middle;
}

td .winner {
    font-weight:bold;
}

.table_games {
    text-align: center;
}


.table_games td{
    border:1px solid #C0C0C0;
}

.table_games td.right img{
    float: right;
}

.table_games td.left img{
    float: left;
}

.table_games td:nth-child(2),.table_games td:nth-child(4) {
    width: 250px;
}

.table_games td:nth-child(3){
    width: 50px;
}

td span.game_score_table {
    vertical-align: middle;
    cursor: pointer;
}

td span.game_score_table:hover {
    text-decoration: underline;
}

td span.game_score_table a{
    text-decoration: none;
    color: black;
}

a.blank_link {
    color: black;
    text-decoration: none;
}

a.blank_link:hover {
    text-decoration: underline;
    color: black;
}


.tree,
.tree ul {
    margin:0 0 0 1em; /* indentation */
    padding:0;
    list-style:none;
    color:black;
    position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}

.tree li {
    margin:0;
    padding:0 1.5em; /* indentation + .5em */
    line-height:2em; /* default list item's `line-height` */
    font-weight:bold;
    position:relative;
}

.tree li:before {
    content:"";
    display:block;
    width:10px; /* same with indentation */
    height:0;
    border-top:1px solid;
    margin-top:-1px; /* border top width */
    position:absolute;
    top:1em; /* (line-height/2) */
    left:0;
}

.tree li:last-child:before {
    background:white; /* same with body background */
    height:auto;
}

.red {
    color: red;
}

.chess_mates_table td, th {
    padding: 1px;
    font-size: 12px;
    text-align: center;
}

.chess_mates_table td {
    border: 1px solid #a7cce5;
}
.chess_mates_table td:nth-child(2) {
    text-align: left;
}

.chess_mates_table img {
    width: 15px;
}

.css-treeview ul,
.css-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input
{
    position: absolute;
    opacity: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.css-treeview
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.css-treeview a
{
    color: #00f;
    text-decoration: none;
}

.css-treeview a:hover
{
    text-decoration: underline;
}

.css-treeview input + label + ul
{
    margin: 0 0 0 22px;
}

.css-treeview input ~ ul
{
    display: none;
}

.css-treeview label,
.css-treeview label::before
{
    /*cursor: pointer;*/
}

.css-treeview input:disabled + label
{
    /*cursor: default;*/
    opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}

.css-treeview label,
.css-treeview label::before
{
    background: url("./images/icons.png") no-repeat;
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 16px;
}

.css-treeview label
{
    background-position: 0;
}

.css-treeview label::before
{
    content: "";
    width: 16px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.css-treeview input:checked + label::before
{
    background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix
    {
        from
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}

.seasons_header {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1;
}


#seasons select {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 3px;
    font-size: 12px;
    color: #42454e;
    min-width: 184px;
    padding: 6px 8px;
    margin-bottom: 8px;
    font-family: inherit;
    line-height: 1.5em;
    outline: none;
}

.tournament_list_container {
    display: none;
    margin-top: 15px;
    margin-left: 10px;
}