/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    margin-bottom: 5px;
}

div.tabs ul {
    padding: 0;
    margin: 0;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 1px;
    float:left;
    list-style:none; !important;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background: linear-gradient(to bottom, #52a9e5 0%,#227fbf 100%);;
    font-size:14px;
    font-weight:600;
    color:white;
    transition:all linear 0.15s;
    text-decoration:none;
    /*border: 2px solid #227fbf;*/
}

.tab-links a:hover {
    color:#fff;
    background:#52a9e5;
}

li.active a, li.active a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow:0px 0px 0px 1px #227fbf inset;
    /*border: 2px solid #227fbf;*/
    color:#4c4c4c;
}
.table {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
    font-size: 18px;
}
.table th {
    border:1px solid #C0C0C0;
    padding:10px;
    color: white;
    font-size: 20px;
    background:#7DA2EC;
}
.table td {
    border:1px solid #C0C0C0;
    padding:10px;
    text-align: center;
}

.table td:nth-child(2) {
    text-align: left;
    width: 500px;
}

/* Sortable tables */
table.sortable thead {
    /*background-color:#eee;*/
    /*color:#666666;*/
    /*font-weight: bold;*/
    /*cursor: default;*/
}

td img {
    vertical-align: middle;
}

.member_table td:nth-child(3) {
    text-align: left;
    width: 450px;
    cursor: pointer;
}

.member_table td:nth-child(3):hover {
    text-decoration: underline;
}

.member_table td {
    padding:10px;
    text-align: center;
}

.member_icon {
    width: 30px;
}
.member_icon_info {
    width: 200px;
}

.ui-dialog { z-index: 1000 !important ;}

.table_game_head td.right {
    text-align: right;
    width: 500px;
}

.table_game_head td a{
    text-decoration: none;
    color: black;
}

.table_game_head td.right:hover {
    text-decoration: underline;
    cursor: pointer;
}

.table_game_head td.left {
    text-align: left;
    width: 500px;
}

.table_game_head td.left:hover {
    text-decoration: underline;
    cursor: pointer;
}

.table_game_head td img{
    width: 50px;
}

.table_game_head td{
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}

.table_game_head td:nth-child(3) {
    /*width: 20px;*/
}

.table_game_head td:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
}

.logo_table_game {
    background-color: white;
    width: 200px;
    height: 190px;
}

.table_game {
    border-bottom: 1px solid black;
}

.border_right {
    border-right: 1px solid black;
}

.border_left {
    border-left: 1px solid black;
}

/*.logo_table_game td.right img{*/
    /*float: right;*/
/*}*/

/*.logo_table_game td.left img{*/
    /*float: left;*/
/*}*/

.game_stage {
    text-align: center;
    margin-bottom: 10px;
}

.time {
    /*margin-top: 30px;*/
    font-size: 18px;
    font-weight: bold;
}

.date {
    font-size: 18px;
    font-weight: bold;
}

.text-middle {
    text-align: center;
}

.tiny {
    font-size: 11px;
}

.bold {
    font-weight: bold;
}

a.blank_link {
    color: black;
    text-decoration: none;
}

a.blank_link:hover {
    text-decoration: underline;
    color: black;
}

.display_inline {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inline {
    display: table;
}

.score {
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 90px;
}

.game_icons {
    margin-bottom: 20px;
}

.score_game_ended {
    font-size: 40px;
    /*margin-bottom: 100px;*/
    /*margin-top: 90px;*/
}

.score_game_ended_half {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 0px;
    /*margin-top: 90px;*/
}

.gamers_table_game {
    width: 200px;
    font-size: 10px;
}

.gamers_table_game tr {
    border-bottom: 1px solid black;
    height: 10px;
}

.gamers_table_game tr:nth-child(even) {
    background: white;
}

.gamers_table_game tr:last-child {
    border-bottom: none;
}

.gamers_table_game td:nth-child(2){
    width: 150px;
}

.gamers_table_game td:nth-child(2):hover{
    cursor: pointer;
}

.gamers_table_game td:nth-child(2):hover span{
    text-decoration: underline;
}

.gamers_table_game td img{
    width: 18px;
}

.gamers_table_game tr td{
    padding: 0px;
}

table.right {
    text-align: end !important;
}

.penalty {
    width: 12px !important;
}

.gamer_score {
    font-size: 12px;
}

.table_info {
    text-align: center;
    /*width: 50% !important;*/
}

.table_info td{
    border:1px solid #C0C0C0;
    height: 25px;
    padding: 0px;
}

.table_info td:nth-child(2){
    width: 400px;
}

.table_container {
    display: table-cell;
    width: 50% !important;
    padding: 5px;
}

.table_diagram {
    text-align: center;
    width: 710px;
    overflow-x: scroll;
}

.table_diagram tr:nth-child(2n) {
    background-color: white;
}

.table_diagram td {
    /*border:1px solid #C0C0C0;*/
    height: 40px !important;
}

.no_padding {
    padding: 0px;
}

.player_number_diagram {
    border-radius: 40px;
    height: 40px;
    width: 40px;
}

.team_a_number {
    background-color: #227fbf;
    color: white;
}

.team_b_number {
    background-color: #f1a899;
}

.team_yellow {
    background-color: yellow;
}

.team_delete {
    background-color: gray;
    color: white;
}

.team_disqualified {
    background-color: red;
    color: white;
}

.team_timeout {
    background-color: green;
    color: white;
}

.diagram div {
    display: table;
}

.diagram span {
    display: table-cell;
    vertical-align: middle;
}


.diagram img {
    height: 50px;
    width: 50px;
}

.additional_rows {
    height: 30px;
    width: 30px;
    padding: 0px;
}

.point_difference_chart {
    width: 710px;
    height: 550px;
}

.statistic_button {
    background: linear-gradient(to bottom, #52a9e5 0%,#227fbf 100%);
    border-radius: 3px;
    font-size:14px;
    font-weight:600;
    color:white;
    display:inline-block;
    padding:9px 15px;
}

.statistic_button:hover {
    background:#fff;
    color:#4c4c4c;
    border: 1px solid #4c4c4c;
    cursor: pointer;
}

.statistic_table td {
    border: 1px solid #C0C0C0;
}

.throws_statistics {
    text-align: center;
}

.throws_statistics td {
    border: 1px solid #C0C0C0;
}

.first_column_throws_statistics {
    color: white;
    background: linear-gradient(to bottom, #52a9e5 0%,#227fbf 100%);
}

#stats-holder .action-name {
    text-align: center;
    margin: 4px 0 4px 0;
}

#stats-holder .stat-home {
    width: 20px;
    text-align: center;
    line-height: 1;
}

#stats-holder .main-stat-bar {
    width: 670px;
    background: #e4e8ef;
    height: 15px;
}

#stats-holder .stat-away {
    width: 20px;
    text-align: center;
    line-height: 1;
}

#stats-holder .bar-holder {
    width: 50%;
    position: relative;
}

#stats-holder .bar-home {
    right: 0px;
    position: absolute;
    height: 15px;
    width: 40px;
}

#stats-holder .bar-away {
    left: 0px;
    position: absolute;
    height: 15px;
    width: 20px;
}

.away {
    background: red !important;
    color: #000000 !important;
}

.home {
    background: #227fbf;!important;
    color: #40e0d0 !important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: both;
}

#match_progress_container {
    width: 710px;
    height: 660px;
    display: block;
    overflow-y: scroll;
}

.team_a_tshirt {
    background-image: url('./images/red-tshirt.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    height: 30px;
    width: 35px;
    display: table-cell;
    vertical-align: middle;
}

.team_b_tshirt {
    background-image: url('./images/blue-tshirt.png');
    background-size: cover;
    text-align: center;
    color: white;
    height: 30px;
    width: 35px;
    display: table-cell;
    vertical-align: middle;
}


.progress_table tr {
    height: 60px;
    border-bottom: solid 1px #eaeeef;
}

.progress_table td {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
}

.progress_table td:nth-child(1) {
    width: 30px;
}

.progress_table td:nth-child(2) {
    width: 45px;
    text-align: center;
    font-size: 12px;
}

.progress_table td:nth-child(3) {
    width: 15px;
}

.progress_table td:nth-child(4) {
    width: 40px;
    display: table;
    margin-top: 14px;
}

.progress_table tr:nth-child(even) {
    background: white;
}

.score_progress_table {
    text-align: center;
}

.score_progress_table img {
    height: 30px;
    width: 30px;
}

.score_progress_table span {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.table_container tr:nth-child(even) {
    background: white;
}

.table_container td {
    padding: 4px;
}

.gate_table th {
    cursor: pointer;
}

.gate_table td {
    border: 1px solid #C0C0C0;
    text-align: center;
}

.gate_table tr:nth-child(even) {
    background: white;
}

.no_margin {
    margin: 0;
}

.throws_map {
    width: 710px;
    height: 340px;
    background: url('./images/field.png');
    background-size: cover;
}

.throws_map_table tr > th{
    line-height: 8px;
}

.throws_map_table td{
    border: 1px solid #C0C0C0;
    text-align: center;
}

.goals {
    color: blue;
}

.blocks {
    color: red;
}

.small {
    font-size: 12px;
}

.statistic_table {
    text-align: center;
    line-height: 1em;
    margin-bottom: 10px;
}

.statistic_table td {
    padding: 2px;
    font-size: 12px;
}

.statistic_table th {
    padding: 5px;
    font-size: 14px;
}


.devider {
    color: #cccccc;
    padding: 0 5px;
}

.crumbs {
    display: inline-block;
    list-style: none;
    margin-bottom: 21px;
}

.crumbs li {
    display: inline-block;
    list-style: none;
}
